body::-webkit-scrollbar {
    display: none;
}

body {
  background: url('website_images/ticketing-background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}


body.fade-in {
  opacity: 1;
  transform: translateX(0);
}

body.fade-out {
  opacity: 0;
  transform: translateX(-30px);
}

header {
    background-color: #E57373;
    padding: 10px;
    color: white;
}

.form-box {
    background-color: #fff8f6;
    padding: 40px;
    margin: 40px auto;
    margin-top: 80px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-box input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #F28B82;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #E57373;
}