body::-webkit-scrollbar {
    display: none;
}
html, body {
    height: 100%;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff8f6;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E57373;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.form-box {
    background-color: #fff8f6;
    padding: 40px;
    margin: 10px auto;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-box input,
.form-box select {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #F28B82;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #E57373;
}

/* Toast styling */
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4BB543; /* green for success */
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 30px;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}